In [0]:
df = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/nilay.k.meera@gmail.com/StudentData-2.csv")
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [0]:
df=spark.read.option('header',True).option('inferSchema',True).csv('/FileStore/shared_uploads/oshiotserowland@gmail.com/StudentData-1.csv')
df.show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3563007807652913>:1
----> 1 df=spark.read.option('header',True).option('inferSchema',True).csv('/FileStore/shared_uploads/oshiotserowland@gmail.com/StudentData-1.csv')
      2 df.show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/readwriter.py:729, in DataFrameReader.csv(self, path, schema, sep, encoding, quote, escape, comment, header, inferSchema, ignoreLeadingWhiteSpace, ignoreTrailingWhiteSpace, nullValue, nanValue, positiveInf, negativeInf, dateFormat, timestampFormat, maxColumns, maxCharsPerColumn, maxMalformedLogPerPartition, mode, columnNameOfCorruptRecord, multiLine, charToEscapeQuoteEscaping, samplingRatio, enforceSchema, emptyValue, locale, lineSep, pathGlobFilter, recursiveFileLookup, modifiedBefore, modifiedAfter, unescapedQuoteHandling)
    727 if type(path) == list:
    728     assert self._spark._sc._jvm is not None
--> 729     return self._df(self._jreader.csv(self._spark._sc._jvm.PythonUtils.toSeq(path)))
    730 elif isinstance(path, RDD):
    732     def func(iterator):

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [PATH_NOT_FOUND] Path does not exist: dbfs:/FileStore/shared_uploads/oshiotserowland@gmail.com/StudentData-1.csv.

In [0]:
#displays structure of dataframe
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: string (nullable = true)
 |-- email: string (nullable = true)

In [0]:
df=spark.read.options(header=True,inferSchema=True).csv('dbfs:/FileStore/shared_uploads/nilay.k.meera@gmail.com/StudentData-2.csv')
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [0]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
 
my_schema = StructType([
                    StructField("age", IntegerType(), True),
                    StructField("gender", StringType(), True),
                    StructField("name", StringType(), True),
                    StructField("course", StringType(), True),
                    StructField("roll", StringType(), True),
                    StructField("marks", IntegerType(), True),
                    StructField("email", StringType(), True)
])

In [0]:
df=spark.read.options(header=True).schema(my_schema).csv('dbfs:/FileStore/shared_uploads/nilay.k.meera@gmail.com/StudentData-2.csv')
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [0]:
from pyspark.sql.functions import col, lit

In [0]:
 
# COMMAND ----------
 
df = df.withColumn("roll", col("roll").cast("String"))
 
# COMMAND ----------
 
df.printSchema()
 
# COMMAND ----------
 
df = df.withColumn("marks", col('marks') + 10)
df.show()
 
# COMMAND ----------
 
df = df.withColumn("percentage", col('marks') / 100)
df.show()
 
# COMMAND ----------
 
df = df.withColumn("country name", lit("Nigeria"))
df.show()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   69|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   72|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   55|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   39|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   51|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   42|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   79|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   95|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   74|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   61|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   45|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   63|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   37|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   65|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   52|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   37|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   46|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   32|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   66|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   72|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

+---+------+----------------+------+------+-----+--------------------+----------+
|age|gender|            name|course|  roll|marks|               email|percentage|
+---+------+----------------+------+------+-----+--------------------+----------+
| 28|Female| Hubert Oliveras|    DB| 02984|   69|Annika Hoffman_Na...|      0.69|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   72|Margene Moores_Ma...|      0.72|
| 28|  Male|  Celeste Lollis|    PF| 21267|   55|Jeannetta Golden_...|      0.55|
| 29|Female|    Elenore Choy|    DB| 32877|   39|Billi Clore_Mitzi...|      0.39|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   51|Claude Panos_Judi...|      0.51|
| 28|  Male|  Margene Moores|   MVC| 52771|   42|Toshiko Hillyard_...|      0.42|
| 28|  Male|     Neda Briski|   OOP| 61973|   79|Alberta Freund_El...|      0.79|
| 28|Female|    Claude Panos| Cloud| 72409|   95|Sheryll Towler_Al...|      0.95|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   74|Nicole Harwood_Cl...|      0.74|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   61|Judie Chipps_Clem...|      0.61|
| 29|Female|       Kena Wild|   DSA|102285|   45|Dustin Feagins_Ma...|      0.45|
| 29|  Male| Ernest Rossbach|    DB|111449|   63|Maybell Duguay_Ab...|      0.63|
| 28|Female|  Latia Vanhoose|    DB|122502|   37|Latia Vanhoose_Mi...|      0.37|
| 29|Female|  Latia Vanhoose|   MVC|132110|   65|Eda Neathery_Nico...|      0.65|
| 29|  Male|     Neda Briski|    PF|141770|   52|Margene Moores_Mi...|      0.52|
| 29|Female|  Latia Vanhoose|    DB|152159|   37|Claude Panos_Sant...|      0.37|
| 29|  Male|  Loris Crossett|   MVC|161771|   46|Mitzi Seldon_Jenn...|      0.46|
| 29|  Male|  Annika Hoffman|   OOP|171660|   32|Taryn Brownlee_Mi...|      0.32|
| 29|  Male|   Santa Kerfien|    PF|182129|   66|Judie Chipps_Tary...|      0.66|
| 28|Female|Mickey Cortright|    DB|192537|   72|Ernest Rossbach_M...|      0.72|
+---+------+----------------+------+------+-----+--------------------+----------+
only showing top 20 rows

+---+------+----------------+------+------+-----+--------------------+----------+------------+
|age|gender|            name|course|  roll|marks|               email|percentage|country name|
+---+------+----------------+------+------+-----+--------------------+----------+------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   69|Annika Hoffman_Na...|      0.69|     Nigeria|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   72|Margene Moores_Ma...|      0.72|     Nigeria|
| 28|  Male|  Celeste Lollis|    PF| 21267|   55|Jeannetta Golden_...|      0.55|     Nigeria|
| 29|Female|    Elenore Choy|    DB| 32877|   39|Billi Clore_Mitzi...|      0.39|     Nigeria|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   51|Claude Panos_Judi...|      0.51|     Nigeria|
| 28|  Male|  Margene Moores|   MVC| 52771|   42|Toshiko Hillyard_...|      0.42|     Nigeria|
| 28|  Male|     Neda Briski|   OOP| 61973|   79|Alberta Freund_El...|      0.79|     Nigeria|
| 28|Female|    Claude Panos| Cloud| 72409|   95|Sheryll Towler_Al...|      0.95|     Nigeria|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   74|Nicole Harwood_Cl...|      0.74|     Nigeria|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   61|Judie Chipps_Clem...|      0.61|     Nigeria|
| 29|Female|       Kena Wild|   DSA|102285|   45|Dustin Feagins_Ma...|      0.45|     Nigeria|
| 29|  Male| Ernest Rossbach|    DB|111449|   63|Maybell Duguay_Ab...|      0.63|     Nigeria|
| 28|Female|  Latia Vanhoose|    DB|122502|   37|Latia Vanhoose_Mi...|      0.37|     Nigeria|
| 29|Female|  Latia Vanhoose|   MVC|132110|   65|Eda Neathery_Nico...|      0.65|     Nigeria|
| 29|  Male|     Neda Briski|    PF|141770|   52|Margene Moores_Mi...|      0.52|     Nigeria|
| 29|Female|  Latia Vanhoose|    DB|152159|   37|Claude Panos_Sant...|      0.37|     Nigeria|
| 29|  Male|  Loris Crossett|   MVC|161771|   46|Mitzi Seldon_Jenn...|      0.46|     Nigeria|
| 29|  Male|  Annika Hoffman|   OOP|171660|   32|Taryn Brownlee_Mi...|      0.32|     Nigeria|
| 29|  Male|   Santa Kerfien|    PF|182129|   66|Judie Chipps_Tary...|      0.66|     Nigeria|
| 28|Female|Mickey Cortright|    DB|192537|   72|Ernest Rossbach_M...|      0.72|     Nigeria|
+---+------+----------------+------+------+-----+--------------------+----------+------------+
only showing top 20 rows

In [0]:
df = df.withColumnRenamed("gender","sex").withColumnRenamed("roll", "roll number")
df.show()
 
# COMMAND ----------
 
df.select(col("name").alias("Full Name")).show()
 
# COMMAND ----------
 
df.show()

+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|            name|course|roll number|marks|               email|percentage|country name|
+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female| Hubert Oliveras|    DB|       2984|   69|Annika Hoffman_Na...|      0.69|     Nigeria|
| 29|Female|Toshiko Hillyard| Cloud|      12899|   72|Margene Moores_Ma...|      0.72|     Nigeria|
| 28|  Male|  Celeste Lollis|    PF|      21267|   55|Jeannetta Golden_...|      0.55|     Nigeria|
| 29|Female|    Elenore Choy|    DB|      32877|   39|Billi Clore_Mitzi...|      0.39|     Nigeria|
| 28|  Male|  Sheryll Towler|   DSA|      41487|   51|Claude Panos_Judi...|      0.51|     Nigeria|
| 28|  Male|  Margene Moores|   MVC|      52771|   42|Toshiko Hillyard_...|      0.42|     Nigeria|
| 28|  Male|     Neda Briski|   OOP|      61973|   79|Alberta Freund_El...|      0.79|     Nigeria|
| 28|Female|    Claude Panos| Cloud|      72409|   95|Sheryll Towler_Al...|      0.95|     Nigeria|
| 28|  Male|  Celeste Lollis|   MVC|      81492|   74|Nicole Harwood_Cl...|      0.74|     Nigeria|
| 29|  Male|  Cordie Harnois|   OOP|      92882|   61|Judie Chipps_Clem...|      0.61|     Nigeria|
| 29|Female|       Kena Wild|   DSA|     102285|   45|Dustin Feagins_Ma...|      0.45|     Nigeria|
| 29|  Male| Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|     Nigeria|
| 28|Female|  Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|     Nigeria|
| 29|Female|  Latia Vanhoose|   MVC|     132110|   65|Eda Neathery_Nico...|      0.65|     Nigeria|
| 29|  Male|     Neda Briski|    PF|     141770|   52|Margene Moores_Mi...|      0.52|     Nigeria|
| 29|Female|  Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|     Nigeria|
| 29|  Male|  Loris Crossett|   MVC|     161771|   46|Mitzi Seldon_Jenn...|      0.46|     Nigeria|
| 29|  Male|  Annika Hoffman|   OOP|     171660|   32|Taryn Brownlee_Mi...|      0.32|     Nigeria|
| 29|  Male|   Santa Kerfien|    PF|     182129|   66|Judie Chipps_Tary...|      0.66|     Nigeria|
| 28|Female|Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|     Nigeria|
+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

+----------------+
|       Full Name|
+----------------+
| Hubert Oliveras|
|Toshiko Hillyard|
|  Celeste Lollis|
|    Elenore Choy|
|  Sheryll Towler|
|  Margene Moores|
|     Neda Briski|
|    Claude Panos|
|  Celeste Lollis|
|  Cordie Harnois|
|       Kena Wild|
| Ernest Rossbach|
|  Latia Vanhoose|
|  Latia Vanhoose|
|     Neda Briski|
|  Latia Vanhoose|
|  Loris Crossett|
|  Annika Hoffman|
|   Santa Kerfien|
|Mickey Cortright|
+----------------+
only showing top 20 rows

+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|            name|course|roll number|marks|               email|percentage|country name|
+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female| Hubert Oliveras|    DB|       2984|   69|Annika Hoffman_Na...|      0.69|     Nigeria|
| 29|Female|Toshiko Hillyard| Cloud|      12899|   72|Margene Moores_Ma...|      0.72|     Nigeria|
| 28|  Male|  Celeste Lollis|    PF|      21267|   55|Jeannetta Golden_...|      0.55|     Nigeria|
| 29|Female|    Elenore Choy|    DB|      32877|   39|Billi Clore_Mitzi...|      0.39|     Nigeria|
| 28|  Male|  Sheryll Towler|   DSA|      41487|   51|Claude Panos_Judi...|      0.51|     Nigeria|
| 28|  Male|  Margene Moores|   MVC|      52771|   42|Toshiko Hillyard_...|      0.42|     Nigeria|
| 28|  Male|     Neda Briski|   OOP|      61973|   79|Alberta Freund_El...|      0.79|     Nigeria|
| 28|Female|    Claude Panos| Cloud|      72409|   95|Sheryll Towler_Al...|      0.95|     Nigeria|
| 28|  Male|  Celeste Lollis|   MVC|      81492|   74|Nicole Harwood_Cl...|      0.74|     Nigeria|
| 29|  Male|  Cordie Harnois|   OOP|      92882|   61|Judie Chipps_Clem...|      0.61|     Nigeria|
| 29|Female|       Kena Wild|   DSA|     102285|   45|Dustin Feagins_Ma...|      0.45|     Nigeria|
| 29|  Male| Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|     Nigeria|
| 28|Female|  Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|     Nigeria|
| 29|Female|  Latia Vanhoose|   MVC|     132110|   65|Eda Neathery_Nico...|      0.65|     Nigeria|
| 29|  Male|     Neda Briski|    PF|     141770|   52|Margene Moores_Mi...|      0.52|     Nigeria|
| 29|Female|  Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|     Nigeria|
| 29|  Male|  Loris Crossett|   MVC|     161771|   46|Mitzi Seldon_Jenn...|      0.46|     Nigeria|
| 29|  Male|  Annika Hoffman|   OOP|     171660|   32|Taryn Brownlee_Mi...|      0.32|     Nigeria|
| 29|  Male|   Santa Kerfien|    PF|     182129|   66|Judie Chipps_Tary...|      0.66|     Nigeria|
| 28|Female|Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|     Nigeria|
+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [0]:
# COMMAND ----------
 
df.filter(df.course == "DB").show()
 
# COMMAND ----------
 
df.filter(col("course") == "DB").show()
 
# COMMAND ----------
 
df.filter( (df.course == "DB") & (df.marks > 50) ).show()
 
# COMMAND ----------
 
courses = ["DB", "Cloud", "OOP", "DSA"]
df.filter(df.course.isin(courses)).show()
 
# COMMAND ----------
 
df.filter(df.course.startswith("DS")).show()
 
# COMMAND ----------
 
df.filter(df.name.endswith("se")).show()
 
# COMMAND ----------
 
df.filter(df.name.contains("se")).show()

In [0]:
df.filter(df.course == "DB").show()

+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|             name|course|roll number|marks|               email|percentage|country name|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female|  Hubert Oliveras|    DB|       2984|   69|Annika Hoffman_Na...|      0.69|     Nigeria|
| 29|Female|     Elenore Choy|    DB|      32877|   39|Billi Clore_Mitzi...|      0.39|     Nigeria|
| 29|  Male|  Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|     Nigeria|
| 28|Female|   Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|     Nigeria|
| 29|Female|   Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|     Nigeria|
| 28|Female| Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|     Nigeria|
| 28|Female|      Anna Santos|    DB|     311589|   89|Celeste Lollis_Mi...|      0.89|     Nigeria|
| 28|  Male|    Kizzy Brenner|    DB|     381712|   46|Paris Hutton_Kena...|      0.46|     Nigeria|
| 28|  Male| Toshiko Hillyard|    DB|     392218|   57|Leontine Phillips...|      0.57|     Nigeria|
| 29|  Male|     Paris Hutton|    DB|     481229|   67|Clementina Menke_...|      0.67|     Nigeria|
| 28|Female| Mickey Cortright|    DB|     551389|   53|Tijuana Kropf_Jen...|      0.53|     Nigeria|
| 28|Female|Leontine Phillips|    DB|     602404|   58|Neda Briski_Cheri...|      0.58|     Nigeria|
| 28|Female|  Hubert Oliveras|    DB|     771081|   89|Kizzy Brenner_Dus...|      0.89|     Nigeria|
| 29|Female|     Elenore Choy|    DB|     811824|   65|Maybell Duguay_Me...|      0.65|     Nigeria|
| 29|  Male| Clementina Menke|    DB|     882200|   86|Michelle Ruggiero...|      0.86|     Nigeria|
| 29|Female|  Sebrina Maresca|    DB|     922210|   64|Toshiko Hillyard_...|      0.64|     Nigeria|
| 29|  Male|     Naoma Fritts|    DB|     931295|   89|Hubert Oliveras_S...|      0.89|     Nigeria|
| 28|  Male|   Annika Hoffman|    DB|    1031544|   54|Dustin Feagins_So...|      0.54|     Nigeria|
| 28|  Male|   Nicole Harwood|    DB|    1211495|   38|Melani Engberg_Jc...|      0.38|     Nigeria|
| 29|Female|     Claude Panos|    DB|    1222887|   85|Hubert Oliveras_S...|      0.85|     Nigeria|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [0]:
df.filter( (df.course == "DB") & (df.marks > 50) ).show()

+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|             name|course|roll number|marks|               email|percentage|country name|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female|  Hubert Oliveras|    DB|       2984|   69|Annika Hoffman_Na...|      0.69|     Nigeria|
| 29|  Male|  Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|     Nigeria|
| 28|Female| Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|     Nigeria|
| 28|Female|      Anna Santos|    DB|     311589|   89|Celeste Lollis_Mi...|      0.89|     Nigeria|
| 28|  Male| Toshiko Hillyard|    DB|     392218|   57|Leontine Phillips...|      0.57|     Nigeria|
| 29|  Male|     Paris Hutton|    DB|     481229|   67|Clementina Menke_...|      0.67|     Nigeria|
| 28|Female| Mickey Cortright|    DB|     551389|   53|Tijuana Kropf_Jen...|      0.53|     Nigeria|
| 28|Female|Leontine Phillips|    DB|     602404|   58|Neda Briski_Cheri...|      0.58|     Nigeria|
| 28|Female|  Hubert Oliveras|    DB|     771081|   89|Kizzy Brenner_Dus...|      0.89|     Nigeria|
| 29|Female|     Elenore Choy|    DB|     811824|   65|Maybell Duguay_Me...|      0.65|     Nigeria|
| 29|  Male| Clementina Menke|    DB|     882200|   86|Michelle Ruggiero...|      0.86|     Nigeria|
| 29|Female|  Sebrina Maresca|    DB|     922210|   64|Toshiko Hillyard_...|      0.64|     Nigeria|
| 29|  Male|     Naoma Fritts|    DB|     931295|   89|Hubert Oliveras_S...|      0.89|     Nigeria|
| 28|  Male|   Annika Hoffman|    DB|    1031544|   54|Dustin Feagins_So...|      0.54|     Nigeria|
| 29|Female|     Claude Panos|    DB|    1222887|   85|Hubert Oliveras_S...|      0.85|     Nigeria|
| 29|Female|Leontine Phillips|    DB|    1432252|   77|Billi Clore_Shery...|      0.77|     Nigeria|
| 28|Female|  Gonzalo Ferebee|    DB|    1451513|   79|Claude Panos_Tame...|      0.79|     Nigeria|
| 28|  Male|  Marylee Capasso|    DB|    1611411|  106|Annika Hoffman_Lo...|      1.06|     Nigeria|
| 29|Female|Michelle Ruggiero|    DB|    1642509|   55|Hubert Oliveras_M...|      0.55|     Nigeria|
| 29|  Male|   Alberta Freund|    DB|    1671638|  108|Clementina Menke_...|      1.08|     Nigeria|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [0]:
courses = ["DB", "Cloud", "OOP", "DSA"]
df.filter(df.course.isin(courses)).show()

+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|            name|course|roll number|marks|               email|percentage|country name|
+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female| Hubert Oliveras|    DB|       2984|   69|Annika Hoffman_Na...|      0.69|     Nigeria|
| 29|Female|Toshiko Hillyard| Cloud|      12899|   72|Margene Moores_Ma...|      0.72|     Nigeria|
| 29|Female|    Elenore Choy|    DB|      32877|   39|Billi Clore_Mitzi...|      0.39|     Nigeria|
| 28|  Male|  Sheryll Towler|   DSA|      41487|   51|Claude Panos_Judi...|      0.51|     Nigeria|
| 28|  Male|     Neda Briski|   OOP|      61973|   79|Alberta Freund_El...|      0.79|     Nigeria|
| 28|Female|    Claude Panos| Cloud|      72409|   95|Sheryll Towler_Al...|      0.95|     Nigeria|
| 29|  Male|  Cordie Harnois|   OOP|      92882|   61|Judie Chipps_Clem...|      0.61|     Nigeria|
| 29|Female|       Kena Wild|   DSA|     102285|   45|Dustin Feagins_Ma...|      0.45|     Nigeria|
| 29|  Male| Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|     Nigeria|
| 28|Female|  Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|     Nigeria|
| 29|Female|  Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|     Nigeria|
| 29|  Male|  Annika Hoffman|   OOP|     171660|   32|Taryn Brownlee_Mi...|      0.32|     Nigeria|
| 28|Female|Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|     Nigeria|
| 28|Female|       Kena Wild| Cloud|     221750|   70|Mitzi Seldon_Jenn...|       0.7|     Nigeria|
| 28|Female|    Jc Andrepont|   DSA|     232060|   68|Billi Clore_Abram...|      0.68|     Nigeria|
| 29|Female|     Anna Santos| Cloud|     242254|   78|Jc Andrepont_Hube...|      0.78|     Nigeria|
| 28|Female|  Alberta Freund|   OOP|     251805|   93|Annika Hoffman_Sh...|      0.93|     Nigeria|
| 28|Female|  Maybell Duguay| Cloud|     261439|   30|Nicole Harwood_Ju...|       0.3|     Nigeria|
| 29|Female|    Paris Hutton|   DSA|     271472|  109|Sheryll Towler_Al...|      1.09|     Nigeria|
| 29|Female|    Cheri Kenney| Cloud|     281408|   53|Annika Hoffman_Me...|      0.53|     Nigeria|
+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [0]:
df.filter(df.name.endswith("se")).show()

+---+------+--------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|          name|course|roll number|marks|               email|percentage|country name|
+---+------+--------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female|Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|     Nigeria|
| 29|Female|Latia Vanhoose|   MVC|     132110|   65|Eda Neathery_Nico...|      0.65|     Nigeria|
| 29|Female|Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|     Nigeria|
| 29|  Male|Latia Vanhoose| Cloud|    1832268|   70|Marylee Capasso_S...|       0.7|     Nigeria|
| 29|  Male|Latia Vanhoose|   OOP|    2372748|  104|Latia Vanhoose_La...|      1.04|     Nigeria|
| 29|Female|Latia Vanhoose|    PF|    2861854|   52|Claude Panos_Nico...|      0.52|     Nigeria|
| 29|  Male|Latia Vanhoose|   MVC|    2992281|  100|Elenore Choy_Cord...|       1.0|     Nigeria|
| 29|Female|Latia Vanhoose|   MVC|    3091650|   40|Cordie Harnois_Se...|       0.4|     Nigeria|
| 29|Female|Latia Vanhoose|   OOP|    3841395|   36|Kizzy Brenner_Eda...|      0.36|     Nigeria|
| 29|  Male|Latia Vanhoose| Cloud|    4661276|   50|Jc Andrepont_Anni...|       0.5|     Nigeria|
| 28|Female|Latia Vanhoose|   OOP|    4792828|   82|Tamera Blakley_Mi...|      0.82|     Nigeria|
| 28|Female|Latia Vanhoose|    PF|    5222171|   83|Toshiko Hillyard_...|      0.83|     Nigeria|
| 28|Female|Latia Vanhoose| Cloud|    6701628|   43|Abram Nagao_Cheri...|      0.43|     Nigeria|
| 29|Female|Latia Vanhoose|   MVC|    6771882|   59|Alberta Freund_La...|      0.59|     Nigeria|
| 28|Female|Latia Vanhoose|   MVC|    7381991|  104|Eda Neathery_Mich...|      1.04|     Nigeria|
| 29|  Male|Latia Vanhoose| Cloud|    7721956|   55|Jalisa Swenson_An...|      0.55|     Nigeria|
| 28|  Male|Latia Vanhoose|   OOP|    7741757|   76|Loris Crossett_Na...|      0.76|     Nigeria|
| 28|  Male|Latia Vanhoose|   DSA|    7792270|   47|Eda Neathery_Donn...|      0.47|     Nigeria|
| 28|  Male|Latia Vanhoose|   DSA|    9442974|   39|Jc Andrepont_Cele...|      0.39|     Nigeria|
| 28|Female|Latia Vanhoose| Cloud|    9471888|   66|Naoma Fritts_Kena...|      0.66|     Nigeria|
+---+------+--------------+------+-----------+-----+--------------------+----------+------------+

In [0]:
df.filter(df.name.contains("se")).show()

+---+------+--------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|          name|course|roll number|marks|               email|percentage|country name|
+---+------+--------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female|Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|     Nigeria|
| 29|Female|Latia Vanhoose|   MVC|     132110|   65|Eda Neathery_Nico...|      0.65|     Nigeria|
| 29|Female|Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|     Nigeria|
| 29|  Male|Loris Crossett|   MVC|     161771|   46|Mitzi Seldon_Jenn...|      0.46|     Nigeria|
| 29|Female|Loris Crossett|    PF|     201487|  106|Elenore Choy_Lati...|      1.06|     Nigeria|
| 28|Female|Loris Crossett|    PF|     332739|   72|Michelle Ruggiero...|      0.72|     Nigeria|
| 29|  Male|Loris Crossett|    PF|     911593|   56|Gonzalo Ferebee_M...|      0.56|     Nigeria|
| 28|Female|Loris Crossett|   DSA|    1662549|   96|Paris Hutton_Lati...|      0.96|     Nigeria|
| 29|  Male|Latia Vanhoose| Cloud|    1832268|   70|Marylee Capasso_S...|       0.7|     Nigeria|
| 29|  Male|Latia Vanhoose|   OOP|    2372748|  104|Latia Vanhoose_La...|      1.04|     Nigeria|
| 28|Female|Loris Crossett|   OOP|    2691881|   39|Maybell Duguay_Ni...|      0.39|     Nigeria|
| 28|  Male|Loris Crossett|   OOP|    2852490|   35|Loris Crossett_Do...|      0.35|     Nigeria|
| 29|Female|Latia Vanhoose|    PF|    2861854|   52|Claude Panos_Nico...|      0.52|     Nigeria|
| 29|  Male|Latia Vanhoose|   MVC|    2992281|  100|Elenore Choy_Cord...|       1.0|     Nigeria|
| 29|Female|Latia Vanhoose|   MVC|    3091650|   40|Cordie Harnois_Se...|       0.4|     Nigeria|
| 28|Female|Loris Crossett|   OOP|    3502780|   40|Jenna Montague_Co...|       0.4|     Nigeria|
| 28|Female|Loris Crossett|    PF|    3531684|   94|Dustin Feagins_Ta...|      0.94|     Nigeria|
| 29|  Male|Loris Crossett|   OOP|    3592529|   90|Annika Hoffman_To...|       0.9|     Nigeria|
| 29|Female|Latia Vanhoose|   OOP|    3841395|   36|Kizzy Brenner_Eda...|      0.36|     Nigeria|
| 28|Female|Loris Crossett|    PF|    3861248|  104|Dustin Feagins_Ch...|      1.04|     Nigeria|
+---+------+--------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [0]:
df.filter(df.name.startswith("se")).show()

+---+---+----+------+-----------+-----+-----+----------+------------+
|age|sex|name|course|roll number|marks|email|percentage|country name|
+---+---+----+------+-----------+-----+-----+----------+------------+
+---+---+----+------+-----------+-----+-----+----------+------------+

In [0]:
df.select('sex').distinct().show()

+------+
|   sex|
+------+
|Female|
|  Male|
+------+

In [0]:
df.select('age').distinct().show()

+---+
|age|
+---+
| 28|
| 29|
+---+

In [0]:
df.filter(df.course == "DB").count()

Out[58]: 157

In [0]:
df.sort(df.marks).show()

+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|             name|course|roll number|marks|               email|percentage|country name|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female|   Maybell Duguay| Cloud|     261439|   30|Nicole Harwood_Ju...|       0.3|     Nigeria|
| 29|  Male|   Jalisa Swenson|   OOP|    4751515|   30|Annika Hoffman_Hu...|       0.3|     Nigeria|
| 28|  Male|  Marylee Capasso|   DSA|    2081560|   30|Sheryll Towler_Do...|       0.3|     Nigeria|
| 29|Female|  Gonzalo Ferebee|   DSA|    5631172|   30|Jeannetta Golden_...|       0.3|     Nigeria|
| 29|  Male|Michelle Ruggiero|    PF|    6001585|   30|Paris Hutton_Marg...|       0.3|     Nigeria|
| 29|  Male|     Elenore Choy|    DB|    3652057|   30|Jc Andrepont_Gonz...|       0.3|     Nigeria|
| 29|Female|Michelle Ruggiero|    DB|    9232210|   30|Donna Yerby_Latia...|       0.3|     Nigeria|
| 29|Female|   Tamera Blakley|   DSA|    3911247|   30|Donna Yerby_Bonit...|       0.3|     Nigeria|
| 28|Female|     Jc Andrepont|    PF|     972733|   30|Eda Neathery_Eda ...|       0.3|     Nigeria|
| 28|  Male|      Abram Nagao| Cloud|    2652463|   31|Eda Neathery_Anni...|      0.31|     Nigeria|
| 29|  Male|   Tamera Blakley|   OOP|    7341268|   31|Anna Santos_Naoma...|      0.31|     Nigeria|
| 29|Female|  Gonzalo Ferebee|   OOP|    2262603|   31|Bonita Higuera_Ch...|      0.31|     Nigeria|
| 28|  Male|    Kizzy Brenner| Cloud|    4622328|   31|Leontine Phillips...|      0.31|     Nigeria|
| 29|  Male|  Sebrina Maresca| Cloud|    5042394|   31|Donna Yerby_Miche...|      0.31|     Nigeria|
| 28|  Male|   Bonita Higuera| Cloud|    7671835|   31|Taryn Brownlee_Se...|      0.31|     Nigeria|
| 29|Female|   Nicole Harwood|    PF|    8121198|   31|Bonita Higuera_Pr...|      0.31|     Nigeria|
| 29|Female|   Alberta Freund|   OOP|    4501424|   31|Toshiko Hillyard_...|      0.31|     Nigeria|
| 28|Female|  Sebrina Maresca|    PF|    5742239|   31|Bonita Higuera_Se...|      0.31|     Nigeria|
| 28|  Male|      Billi Clore|    DB|    9151306|   31|Latia Vanhoose_Er...|      0.31|     Nigeria|
| 29|  Male|     Paris Hutton|   MVC|     752504|   32|Elenore Choy_Elen...|      0.32|     Nigeria|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [0]:
df.sort(df.age,df.marks).show()

+---+------+---------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|           name|course|roll number|marks|               email|percentage|country name|
+---+------+---------------+------+-----------+-----+--------------------+----------+------------+
| 28|  Male|Marylee Capasso|   DSA|    2081560|   30|Sheryll Towler_Do...|       0.3|     Nigeria|
| 28|Female| Maybell Duguay| Cloud|     261439|   30|Nicole Harwood_Ju...|       0.3|     Nigeria|
| 28|Female|   Jc Andrepont|    PF|     972733|   30|Eda Neathery_Eda ...|       0.3|     Nigeria|
| 28|Female|Sebrina Maresca|    PF|    5742239|   31|Bonita Higuera_Se...|      0.31|     Nigeria|
| 28|  Male|  Kizzy Brenner| Cloud|    4622328|   31|Leontine Phillips...|      0.31|     Nigeria|
| 28|  Male| Bonita Higuera| Cloud|    7671835|   31|Taryn Brownlee_Se...|      0.31|     Nigeria|
| 28|  Male|    Abram Nagao| Cloud|    2652463|   31|Eda Neathery_Anni...|      0.31|     Nigeria|
| 28|  Male|    Billi Clore|    DB|    9151306|   31|Latia Vanhoose_Er...|      0.31|     Nigeria|
| 28|  Male|    Anna Santos|    DB|    9772185|   32|Kizzy Brenner_Ann...|      0.32|     Nigeria|
| 28|Female|    Donna Yerby| Cloud|    4392575|   32|Leontine Phillips...|      0.32|     Nigeria|
| 28|Female|   Cheri Kenney| Cloud|    2281771|   32|Tamera Blakley_Ab...|      0.32|     Nigeria|
| 28|  Male|   Eda Neathery|    PF|    5082430|   32|Leontine Phillips...|      0.32|     Nigeria|
| 28|Female|    Neda Briski|    PF|    3251377|   33|Kizzy Brenner_Mic...|      0.33|     Nigeria|
| 28|Female| Bonita Higuera| Cloud|    6061881|   33|Dustin Feagins_La...|      0.33|     Nigeria|
| 28|  Male|  Santa Kerfien|   MVC|    1992202|   33|Annika Hoffman_Ta...|      0.33|     Nigeria|
| 28|  Male|Gonzalo Ferebee|   OOP|    7162059|   33|Melani Engberg_Me...|      0.33|     Nigeria|
| 28|Female|  Santa Kerfien|   OOP|    3931948|   34|Jeannetta Golden_...|      0.34|     Nigeria|
| 28|  Male| Bonita Higuera| Cloud|    1401526|   34|Jc Andrepont_Cher...|      0.34|     Nigeria|
| 28|  Male|    Anna Santos|   OOP|    1621905|   34|Elenore Choy_Sant...|      0.34|     Nigeria|
| 28|  Male| Alberta Freund| Cloud|    1802934|   34|Maybell Duguay_Pa...|      0.34|     Nigeria|
+---+------+---------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [0]:
df.orderBy(df.marks).show()

+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|             name|course|roll number|marks|               email|percentage|country name|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female|   Maybell Duguay| Cloud|     261439|   30|Nicole Harwood_Ju...|       0.3|     Nigeria|
| 29|  Male|   Jalisa Swenson|   OOP|    4751515|   30|Annika Hoffman_Hu...|       0.3|     Nigeria|
| 28|  Male|  Marylee Capasso|   DSA|    2081560|   30|Sheryll Towler_Do...|       0.3|     Nigeria|
| 29|Female|  Gonzalo Ferebee|   DSA|    5631172|   30|Jeannetta Golden_...|       0.3|     Nigeria|
| 29|  Male|Michelle Ruggiero|    PF|    6001585|   30|Paris Hutton_Marg...|       0.3|     Nigeria|
| 29|  Male|     Elenore Choy|    DB|    3652057|   30|Jc Andrepont_Gonz...|       0.3|     Nigeria|
| 29|Female|Michelle Ruggiero|    DB|    9232210|   30|Donna Yerby_Latia...|       0.3|     Nigeria|
| 29|Female|   Tamera Blakley|   DSA|    3911247|   30|Donna Yerby_Bonit...|       0.3|     Nigeria|
| 28|Female|     Jc Andrepont|    PF|     972733|   30|Eda Neathery_Eda ...|       0.3|     Nigeria|
| 28|  Male|      Abram Nagao| Cloud|    2652463|   31|Eda Neathery_Anni...|      0.31|     Nigeria|
| 29|  Male|   Tamera Blakley|   OOP|    7341268|   31|Anna Santos_Naoma...|      0.31|     Nigeria|
| 29|Female|  Gonzalo Ferebee|   OOP|    2262603|   31|Bonita Higuera_Ch...|      0.31|     Nigeria|
| 28|  Male|    Kizzy Brenner| Cloud|    4622328|   31|Leontine Phillips...|      0.31|     Nigeria|
| 29|  Male|  Sebrina Maresca| Cloud|    5042394|   31|Donna Yerby_Miche...|      0.31|     Nigeria|
| 28|  Male|   Bonita Higuera| Cloud|    7671835|   31|Taryn Brownlee_Se...|      0.31|     Nigeria|
| 29|Female|   Nicole Harwood|    PF|    8121198|   31|Bonita Higuera_Pr...|      0.31|     Nigeria|
| 29|Female|   Alberta Freund|   OOP|    4501424|   31|Toshiko Hillyard_...|      0.31|     Nigeria|
| 28|Female|  Sebrina Maresca|    PF|    5742239|   31|Bonita Higuera_Se...|      0.31|     Nigeria|
| 28|  Male|      Billi Clore|    DB|    9151306|   31|Latia Vanhoose_Er...|      0.31|     Nigeria|
| 29|  Male|     Paris Hutton|   MVC|     752504|   32|Elenore Choy_Elen...|      0.32|     Nigeria|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [0]:
df.orderBy(df.sex,df.marks).show()

+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|             name|course|roll number|marks|               email|percentage|country name|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
| 29|Female|   Tamera Blakley|   DSA|    3911247|   30|Donna Yerby_Bonit...|       0.3|     Nigeria|
| 28|Female|     Jc Andrepont|    PF|     972733|   30|Eda Neathery_Eda ...|       0.3|     Nigeria|
| 29|Female|  Gonzalo Ferebee|   DSA|    5631172|   30|Jeannetta Golden_...|       0.3|     Nigeria|
| 28|Female|   Maybell Duguay| Cloud|     261439|   30|Nicole Harwood_Ju...|       0.3|     Nigeria|
| 29|Female|Michelle Ruggiero|    DB|    9232210|   30|Donna Yerby_Latia...|       0.3|     Nigeria|
| 28|Female|  Sebrina Maresca|    PF|    5742239|   31|Bonita Higuera_Se...|      0.31|     Nigeria|
| 29|Female|   Alberta Freund|   OOP|    4501424|   31|Toshiko Hillyard_...|      0.31|     Nigeria|
| 29|Female|   Nicole Harwood|    PF|    8121198|   31|Bonita Higuera_Pr...|      0.31|     Nigeria|
| 29|Female|  Gonzalo Ferebee|   OOP|    2262603|   31|Bonita Higuera_Ch...|      0.31|     Nigeria|
| 28|Female|      Donna Yerby| Cloud|    4392575|   32|Leontine Phillips...|      0.32|     Nigeria|
| 28|Female|     Cheri Kenney| Cloud|    2281771|   32|Tamera Blakley_Ab...|      0.32|     Nigeria|
| 29|Female|   Maybell Duguay|   MVC|    1102536|   32|Somer Stoecker_Ma...|      0.32|     Nigeria|
| 29|Female|      Niki Klimek|    PF|     211508|   33|Cordie Harnois_Ju...|      0.33|     Nigeria|
| 28|Female|   Bonita Higuera| Cloud|    6061881|   33|Dustin Feagins_La...|      0.33|     Nigeria|
| 29|Female|  Hubert Oliveras|   DSA|    5542363|   33|Priscila Tavernie...|      0.33|     Nigeria|
| 29|Female|     Naoma Fritts|   DSA|    4582052|   33|Kena Wild_Jenna M...|      0.33|     Nigeria|
| 28|Female|      Neda Briski|    PF|    3251377|   33|Kizzy Brenner_Mic...|      0.33|     Nigeria|
| 29|Female|   Sheryll Towler|   OOP|    6672653|   33|Jenna Montague_Sa...|      0.33|     Nigeria|
| 29|Female|   Jenna Montague|    PF|    9991617|   33|Anna Santos_Jenna...|      0.33|     Nigeria|
| 29|Female|      Abram Nagao|    PF|    9711154|   33|Judie Chipps_Naom...|      0.33|     Nigeria|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [0]:
df.orderBy(df.marks.desc()).show()

+---+------+------------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|              name|course|roll number|marks|               email|percentage|country name|
+---+------+------------------+------+-----------+-----+--------------------+----------+------------+
| 29|  Male|    Maybell Duguay|    PF|     701486|  109|Clementina Menke_...|      1.09|     Nigeria|
| 28|  Male|    Loris Crossett|   OOP|    9692316|  109|Judie Chipps_Mich...|      1.09|     Nigeria|
| 29|  Male|   Gonzalo Ferebee|   MVC|    5772006|  109|Niki Klimek_Marge...|      1.09|     Nigeria|
| 29|Female|    Alberta Freund|   DSA|    6071316|  109|Dustin Feagins_Se...|      1.09|     Nigeria|
| 29|Female|Priscila Tavernier|   OOP|    3902993|  109|Celeste Lollis_Bi...|      1.09|     Nigeria|
| 29|Female|      Paris Hutton|   DSA|     271472|  109|Sheryll Towler_Al...|      1.09|     Nigeria|
| 28|  Male|       Niki Klimek|   DSA|    5172507|  109|Marylee Capasso_E...|      1.09|     Nigeria|
| 29|  Male| Michelle Ruggiero|   DSA|    1022971|  109|Cordie Harnois_Cl...|      1.09|     Nigeria|
| 29|Female|      Eda Neathery|    PF|    9222608|  109|Kena Wild_Lawanda...|      1.09|     Nigeria|
| 28|Female|    Melani Engberg| Cloud|    1872667|  109|Alberta Freund_Ni...|      1.09|     Nigeria|
| 28|Female|    Jalisa Swenson|   MVC|    5712033|  109|Dustin Feagins_Hu...|      1.09|     Nigeria|
| 28|Female|      Judie Chipps|   OOP|    5451977|  109|Tamera Blakley_Mi...|      1.09|     Nigeria|
| 29|  Male|    Melani Engberg|    DB|    2941257|  108|Claude Panos_Kena...|      1.08|     Nigeria|
| 28|  Male|  Clementina Menke|   DSA|    2772189|  108|Donna Yerby_Judie...|      1.08|     Nigeria|
| 28|  Male|    Jenna Montague|   OOP|    3331161|  108|Leontine Phillips...|      1.08|     Nigeria|
| 28|  Male|    Loris Crossett|   OOP|    8172914|  108|Paris Hutton_Pari...|      1.08|     Nigeria|
| 29|  Male|    Alberta Freund|    DB|    1671638|  108|Clementina Menke_...|      1.08|     Nigeria|
| 29|Female|  Lawanda Wohlwend| Cloud|    7222880|  108|Sheryll Towler_An...|      1.08|     Nigeria|
| 28|Female|      Judie Chipps|   DSA|    4631068|  108|Toshiko Hillyard_...|      1.08|     Nigeria|
| 28|Female|    Somer Stoecker|    PF|    5882098|  108|Judie Chipps_Clem...|      1.08|     Nigeria|
+---+------+------------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [0]:
df.orderBy(df.sex.desc(),df.marks.asc()).show()

+---+----+-----------------+------+-----------+-----+--------------------+----------+------------+
|age| sex|             name|course|roll number|marks|               email|percentage|country name|
+---+----+-----------------+------+-----------+-----+--------------------+----------+------------+
| 29|Male|   Jalisa Swenson|   OOP|    4751515|   30|Annika Hoffman_Hu...|       0.3|     Nigeria|
| 29|Male|Michelle Ruggiero|    PF|    6001585|   30|Paris Hutton_Marg...|       0.3|     Nigeria|
| 29|Male|     Elenore Choy|    DB|    3652057|   30|Jc Andrepont_Gonz...|       0.3|     Nigeria|
| 28|Male|  Marylee Capasso|   DSA|    2081560|   30|Sheryll Towler_Do...|       0.3|     Nigeria|
| 29|Male|   Tamera Blakley|   OOP|    7341268|   31|Anna Santos_Naoma...|      0.31|     Nigeria|
| 28|Male|      Billi Clore|    DB|    9151306|   31|Latia Vanhoose_Er...|      0.31|     Nigeria|
| 28|Male|      Abram Nagao| Cloud|    2652463|   31|Eda Neathery_Anni...|      0.31|     Nigeria|
| 28|Male|   Bonita Higuera| Cloud|    7671835|   31|Taryn Brownlee_Se...|      0.31|     Nigeria|
| 29|Male|  Sebrina Maresca| Cloud|    5042394|   31|Donna Yerby_Miche...|      0.31|     Nigeria|
| 28|Male|    Kizzy Brenner| Cloud|    4622328|   31|Leontine Phillips...|      0.31|     Nigeria|
| 29|Male|     Paris Hutton|   MVC|     752504|   32|Elenore Choy_Elen...|      0.32|     Nigeria|
| 29|Male|   Margene Moores|   DSA|    3942449|   32|Tijuana Kropf_Nao...|      0.32|     Nigeria|
| 28|Male|     Eda Neathery|    PF|    5082430|   32|Leontine Phillips...|      0.32|     Nigeria|
| 29|Male|   Annika Hoffman|   OOP|     171660|   32|Taryn Brownlee_Mi...|      0.32|     Nigeria|
| 29|Male|     Paris Hutton|   DSA|    9702829|   32|Hubert Oliveras_C...|      0.32|     Nigeria|
| 28|Male|      Anna Santos|    DB|    9772185|   32|Kizzy Brenner_Ann...|      0.32|     Nigeria|
| 29|Male|   Maybell Duguay|   DSA|    4441473|   33|Billi Clore_Cleme...|      0.33|     Nigeria|
| 28|Male|    Santa Kerfien|   MVC|    1992202|   33|Annika Hoffman_Ta...|      0.33|     Nigeria|
| 29|Male|   Tamera Blakley|   DSA|    2661934|   33|Alberta Freund_Ti...|      0.33|     Nigeria|
| 29|Male|  Sebrina Maresca|    PF|    2712040|   33|Jeannetta Golden_...|      0.33|     Nigeria|
+---+----+-----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [0]:
df.groupBy('sex')

Out[67]: <pyspark.sql.group.GroupedData at 0x7fd5d9e87fd0>

In [0]:
df.groupBy('sex').count().show()

+------+-----+
|   sex|count|
+------+-----+
|Female|  501|
|  Male|  499|
+------+-----+

In [0]:
df.groupBy('course').count().show()

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

In [0]:
df.groupBy('sex').max('marks').show()

+------+----------+
|   sex|max(marks)|
+------+----------+
|Female|       109|
|  Male|       109|
+------+----------+

In [0]:
df.groupBy('sex').min('marks').show()

+------+----------+
|   sex|min(marks)|
+------+----------+
|Female|        30|
|  Male|        30|
+------+----------+

In [0]:
df.groupBy('sex').avg('marks').show()

+------+-----------------+
|   sex|       avg(marks)|
+------+-----------------+
|Female|69.15369261477046|
|  Male| 71.0440881763527|
+------+-----------------+